form {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    margin: 0 auto;
    button {
      padding: 0.6rem 0.35rem;
    }
  }
}
